*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

html,
body{
width:100%;
min-height:100%;
}

a{
text-decoration:none;
}

textarea{
resize:none;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#2563eb;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#e5e7eb;
}
